<!DOCTYPE>
<html>
 <head>
 	<title></title>
 </head>
 <body>
     
div>ul>li*10
<li id="ola"> </li>
<li>asdasdasd</li>
<li>asdasda</li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li><<>

<div id="page"></div>

<div id="page">
 	<div class="logo"></div>
 	<ul id="navigation">
 		<li><a href=""></a></li>
 		<li><a href=""></a></li>
 		<li><a href=""></a></li>
 		<li><a href=""></a></li>
 		<li><a href=""></a></li>
 	</ul>
 </div> 

<div id="primerdiv">
 	<ul>
 		<li class="li-element"></li>
 		<li class="li-element"></li>
 		<li class="li-element"></li>
 		<li class="li-element"></li>
 		<li class="li-element"></li>
 		<li class="li-element"></li>
 		<li class="li-element"></li>
 		<li class="li-element"></li>
 		<li class="li-element"></li>
 		<li class="li-element"></li>
 	</ul>
 </div> 

div#lola>(div>label li)*10

<div id="dv_1">
	<li>
		<div><img src="" alt=""></div>
	</li>
	<li>
		<div><img src="" alt=""></div>
	</li>
</div>
 

 div#div_1>((li>imglabel)*10


 <olacomo_estan> adasd</olacomo_estan>
<olacomo_estan></olacomo_estan>

html:5>div#layout>(div#header>ul#nav>li*4>a)+(div#page>(h1>span)+p*2)+div#footer

 </body>
 </html> 
